@model BibliaModel
@{
    ViewData["Title"] = "Biblia";
}

<div class="hero-section">
    <div class="welcome-text">
        Bem-vindo ao seu devocional diário
    </div>

        <div class="left-title">
            <h1 class="big-title">oSeu</h1>
            <h1 class="big-title-2">Dev.</h1>
        </div>
        <div class="content-container">
            <button class="custom-button">Começar Devocional</button>
            <p class="explanation">
                Este projeto é uma ferramenta devocional que auxilia no sorteio de livros ou capítulos da Bíblia para leitura,
                oferecendo inspiração diária. Ele permite sortear um livro completo,
                um capítulo específico dentro de um livro escolhido ou até um capítulo aleatório de toda a Bíblia,
                promovendo uma experiência dinâmica e enriquecedora para o estudo bíblico.
            </p>

            <div class="col-md-6 image-section">
                <img src="~/images/biblia.png" alt="Bíblia Devocional">
            </div>
            
        </div>

</div>



