@model IEnumerable<Biblia.Models.LivroModel>

@{
    ViewData["Title"] = "Lista de Livros";
}

<h2>Lista de Livros</h2>

<ul>
    @foreach (var livro in Model)
    {
        <li>
            <a href="/biblia/livro/@livro.ID">@livro.Nome</a>
        </li>
    }
</ul>
